<div class="backgroundImage">
    <div class="heading" style="color:#ffffff;font-family:'Titillium web';font-size: 30px;padding-top:5%">
        <center>SERVICES WE PROVIDE</center>
    </div>
    <div style="color:#ffffff;font-family:'Titillium web';font-size: 20px;padding-top:2%">
        <center>We are working with both individuals and business from all over the </center>
        <center>global to create awasome websites and applications.</center>
    </div>
  <div class="row">
    <div class="col-md-3">
      <img src="../images/"
    </div>
  </div>
</div>
